.content-container{
    width: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid 1px #bfbfbf;
    margin-top: 20px;
}
.content-container .box-content{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    border: solid 1px wheat;
    color: #fff;
    flex-direction: column;
}
.content-container .list-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
