.header{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    background: #000111;
    align-items: center;
}
.header .logo{
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    line-height: 18px;
    border: solid #bfbfbf 1px;
    width: 85px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    align-items: center;
}