.card-note{
    width: 230px;
    min-height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
    border-radius: 8px;
    justify-content: space-evenly;
    padding: 5px;
    max-height: 400px;
    margin-left: 10px;
    margin-top: 10px;
}
.card-note .card-info{
    width: 90%;
    height: 40px;
    display: flex;
    flex-direction: column;
}
.card-note .card-content{
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.card-note .card-info h5{
    width: 100%;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
    color: #ffff;
    text-align: left;
    
    margin: 0;
}
.card-note .card-info h6{
    width: 100%;
    height: 20px;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    color: gray;
    
    margin: 0;
}
.card-note .card-content p{
    width: 100%;
    height: 200px;
    font-size: 12px;
    text-align: left;
    font-weight: 300;
    font-family: sans-serif;
    color: #fff;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}
.card-note .card-btn{
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.card-note .card-btn .btn-dlt{
    width: 80px;
    height: 36px;
    background: #000000;
    color: #F00E0E;
    border: #F00E0E solid 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.card-note .card-btn .btn-arsp{
    width: 80px;
    height: 36px;
    background: #000000;
    color: #cdd013;
    border: #cdd013 solid 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.btn-dlt:hover{
    transform: scale(1.05);
}
.btn-arsp:hover{
    transform: scale(1.05);
}