.form-container{
    width: 50%;
    height: 100vh;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.form-container form{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid rgb(25, 24, 24) 1px;
    border-radius: 6px;
    background: #000000;
}
.form-container form .input-title{
    width: 84%;
    height: 40px;
    background: none;
    border: #bfbfbf 2px solid;
    padding: 10px;
    font-size: 18px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #fff;
}
.form-container form .input-content{
    width: 84%;
    height: 180px;
    background: none;
    border: #bfbfbf 2px solid;
    padding: 10px;
    font-size: 18px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #fff;
}
.form-container form .btn-save{
    width: 90%;
    height: 50px;
    font-size: 18px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #9AFAF4;
    text-align: center;
    background: none;
    border: solid 2px #9AFAF4;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
}
.btn-save:hover{
    transform: scale(1.05);
}
@media only screen and (max-width: 600px) {
    .form-container{
        height: 70vh;
    }
}